* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    height: 90px;
    padding: 50px 40px;
    z-index: 999;
    background-color: #fff;
}

h1, h2, h3 {
    font-family: "DM Serif Display", serif;
    font-style: normal;
}

.mobile-nav {
    display: none;
}

.icon-menu {
    display: flex;
    background: url(../images/icon-hamburger.svg);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburger, .close {
    background-repeat: no-repeat !important;
}

.mobile-nav {
    background-color: var(--very-dark-violet);
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 500;
    top: 90px;
}

.mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px 0;
    color: var(--very-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    width: 90%;
    margin: 0 auto;
}

.mobile-nav a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
}

.hide {
    display: none;
}

.mobile-nav a:first-of-type {
    margin-top: 40px;
}

.mobile-nav a:last-of-type {
    border: 1px solid var(--very-light-gray);
    margin-top: 20px;
    position: relative;
}

.mobile-nav a:last-of-type:after {
    content: "";
    background: url(../images/bg-pattern-footer-mobile.svg);
    width: 100vw;
    background-size: cover;
    height: 300px;
    position: absolute;
    bottom: -410px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.desktop-nav {
    display: none;
}

.hero img {
    width: 100%;
}

.hero .content-container {
    width: 100%;
    background-color: var(--dark-violet); 
    height: 600px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
}

.hero .content-container::before {
    content: "";
    width: 230px;
    height: 230px;
    background: url(../images/bg-pattern-intro-left-mobile.svg);
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .content-container::after {
    content: "";
    width: 180px;
    height: 600px;
    background: url(../images/bg-pattern-intro-right-mobile.svg);
    bottom: -380px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.hero .content-container h1 {
    font-size: 3.5rem;
    color: var(--very-light-gray);
    text-align: center;
    position: relative;
}

.hero .content-container p {
    margin: 20px 0 30px;
    color: var(--very-light-gray);
    line-height: 1.7;
    text-align: center;
    font-size: 1.3rem;
    position: relative;
    z-index: 10;
}

.hero .content-container a {
    text-decoration: none;
    color: var(--very-light-gray);
    text-transform: uppercase;
    border: 1px solid var(--very-light-gray);
    padding: 12px 40px;
    position: relative;
    z-index: 100;
}

.hero .content-container a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
}

.separator {
    margin: 150px 0 60px;
}

.separator hr {
    width: 40%;
    margin: auto;
    color: var(--very-dark-violet);
}

hr {
    background-color: rgb(204, 204, 204) !important;
    border: 1px solid rgb(204, 204, 204);
}

.info-section h2 {
    font-size: 3rem;
    color: var(--very-dark-violet);
    text-align: center;
    margin-bottom: 50px;
}

 .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
 }

 .card h3 {
    margin: 50px 0 30px;
    font-size: 2rem;
    color: var(--very-dark-violet);
 }

 .card p {
    color: var(--dark-grayish-violet);
    font-size: 1.3rem;
    line-height: 1.7;
    text-align: center;
 }

 .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-violet);
    height: 450px;
    position: relative;
    margin-bottom: 250px;
 }

 .call-to-action::before {
    content: "";
    width: 300px;
    height: 450px;
    background: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    right: 0;
 }
 
 .call-to-action h2 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    color: var(--very-light-gray);
    margin-bottom: 60px;
    position: relative;
 }

 .call-to-action a {
    text-decoration: none;
    color: var(--very-light-gray);
    text-transform: uppercase;
    border: 1px solid var(--very-light-gray);
    padding: 15px 40px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    z-index: 10;
 }

 .call-to-action a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
 }
 
 footer {
    background: var(--very-light-gray);
 }

 .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
 }

 .footer-container::before {
    content: "";
    background: url(../images/bg-pattern-footer-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 290px;
    position: absolute;
    top: 0;
 }

 .footer-container .logo {
    width: 150px;
    margin: auto;
    position: relative;
 }

 .footer-container .separator {
    width: 100%;
    margin: 90px 0 60px;
 }

 .footer-container .separator hr {
    width: 100%;
 }

 .social-icons_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin: auto;
    height: 200px;
 }

 .social-icons {
    display: flex;
    gap: 30px;
    position: relative;
 }

 .fa-brands {
    font-size: 2rem;
    color: var(--dark-grayish-violet);
 }

 .fa-brands:hover {
    color: var(--very-dark-violet);
 }

 .menu-container {
    margin-bottom: 40px;
 }

 .menu-container h4 {
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-grayish-violet);
    letter-spacing: 2px;
    margin-bottom: 40px;
 }

 .menu-container ul {
    padding: 0;
 }

 .menu-container ul li {
    margin: 20px 0;
    list-style-type: none;
    text-align: center;
 }

 .menu-container ul li a {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
 }

 .menu-container ul li a:hover {
    text-decoration: underline;
 }

 .attribution {
    margin-bottom: 40px;
 }

 @media screen and (min-width:1024px) {
    .mobile-nav_container {
        display: none;
    }

    header {
        padding: 0 150px;
    }

    .desktop-nav {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .desktop-nav a {
        text-decoration: none;
        color: var(--dark-grayish-violet);
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .desktop-nav a:hover {
        color: var(--very-dark-violet);
    }

    .desktop-nav a:last-of-type {
        color: var(--very-dark-violet);
        border: 1px solid var(--very-dark-violet);
        padding: 12px 40px;
    }

    .desktop-nav a:last-of-type:hover {
        background: var(--very-dark-violet);
        color: var(--very-light-gray);
    }

    .hero {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        background-color: var(--dark-violet);
        padding: 40px 120px;
    }

    .hero picture {
        position: absolute;
        width: 40%;
        z-index: 10;
        right: 100px;
        bottom: -120px;
    }

    .hero .content-container {
        align-items: flex-start;
    }

    .hero .content-container h1, .hero .content-container p {
        width: 50%;
        text-align: start;
    }

    .hero .content-container::before, .hero .content-container::after {
        background: none;
    }

    .hero::before {
        content: "";
        background: url(../images/bg-pattern-intro-left-desktop.svg);
        height: 600px;
        width: 200px;
        background-repeat: no-repeat;
        position: absolute;
        top: 540px;
        left: 0;
        z-index: 1;
        transform: translateX(-50px);
    }

    .hero::after {
        content: "";
        background: url(../images/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        height: 600px;
        width: 500px;
        background-repeat: no-repeat;
        right: -70px;
        z-index: 20;
        top: 0;
    }

    .hero-container {
        margin-top: 100px;
    }

    .hero .content-container h1 {
        font-size: 4rem;
        font-weight: 400;
    }

    .hero .content-container p {
         z-index: 100;
    }

    .hero .content-container a {
        z-index: 100;
    }

    .separator {
        display: inline-block;
        margin: 250px 50px 60px;
    }

    .separator hr {
        width: 200px;
    }

    .info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .separator {
        align-self: flex-start;
        padding-left: 50px;
    }

    .info-section h2 {
        text-align: start;
        margin: 0px 40px 20px;
        font-size: 3.5rem;
        font-weight: 300;
        align-self: start;
        padding-left: 50px;
    }

    .cards-container {
        flex-direction: row;
        gap: 20px;
        align-items: baseline;
        margin: 40px;
    }

    .card {
        align-items: flex-start;
        width: 30%;
    }

    .card p {
        text-align: start;
    }

    .call-to-action {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: 290px;
        margin: auto;
        padding: 40px 100px;
        position: relative;
    }

    .call-to-action::before {
        background: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        height: 450px;
        width: 500px;
        top: 0;
        right: 0;
        background-size: contain;
    }

    .call-to-action h2 {
        width: 60%;
        font-size: 3.5rem;
        font-weight: 300;
        text-align: start;
        margin-bottom: 0;
    }

    .newline {
        display: block;
    }

    .call-to-action a {
        position: relative;
    }

    .social-icons_container {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        height: 90px;
    }

    .footer-container::before {
        background: url(../images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        height: 300px;
        width: 600px;
        left: 0;
    }

    .footer-container .logo {
        margin: 0;
    }

    .footer-container .separator {
        margin: 20px 40px;
        width: 90%;
        position: relative;
    }

    .menus-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 50px;
    }

    .menu-container h4 {
        text-align: start;
    }

    .menu-container ul li {
        text-align: start;
    }
}

@media screen and (min-width: 1440px) {
    header {
        max-width: 1800px;
    }

    .main-container {
        max-width: 1800px;
    }

    .hero {
        max-width: 1800px;
        margin: auto;
    }

    .hero img {
        width: 600px;
    }

    
}